<footer>
	<div class="footer1 bgGreen  mt-5 py-4">
		<div class="container">
			<div class="row">

				<div class="col-md-3 widget">
					<h3 class="widget-title text-white">Contact</h3>
					<div class="widget-body">
						<p>+33 (0)6 76 95 11 83<br>
							<a href="mailto:#">info@levergerdesbaudets.fr</a><br>
							Chemin du Belloy - F-62217 ACHICOURT
						</p>
					</div>
				</div>

				<div class="col-md-2 widget">
					<h3 class="widget-title text-white">Suivez-nous</h3>
					<div class="widget-body">
						<p class="follow-me-icons">
							<a href="#"><i class="fa fa-twitter fa-2"></i></a>
							<a href="#"><i class="fa fa-linkedin fa-2"></i></a>
							<a href="#"><i class="fa fa-facebook fa-2"></i></a>
						</p>
					</div>
				</div>

				<div class="col-md-7 widget">
					<h3 class="widget-title text-white">"Made in local" en Hauts de France</h3>
					<div class="widget-body">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, dolores, quibusdam
							architecto voluptatem amet fugiat nesciunt placeat provident</p>
					</div>
					<h3 class="widget-title text-white">"BIO et pas un peu !</h3>
					<div class="widget-body">
						<p>Eius consequatur nihil quibusdam! Laborum, rerum, quis, inventore ipsa autem repellat
							provident assumenda labore soluta minima alias temporibus facere distinctio</p>
					</div>
				</div>

			</div>
			{# /.row #}
		</div>
		{# /footer1 #}
	</div>

	<div class="footer2 bgOrange text-white py-1">
		<div class="container">
			<div class="row">

				<div class="col-md-6 widget">
					<div class="widget-body">
						<p class="simplenav">
							<a href="{{ path('homepage') }}">Accueil</a> |
							<a href="#">About</a> |
							<a href="#">Contact</a> |
							<a href="#">Mentions légales</a>
						</p>
					</div>
				</div>

				<div class="col-md-6 widget">
					<div class="widget-body">
						<p class="text-right">
							Copyright &copy; 2020 - Le verger des baudets - <a href="https://levergerdesbaudets.fr/"
								rel="Web Designer">Isabelle Mustin</a>
						</p>
					</div>
				</div>

			</div>
			{# /.row #}
		</div>
	</div>
	{# /footer2 #}
</footer>