{% extends "base.html.twig" %}

{% block title %}
Bienvenue dans notre verger
{% endblock %}

{% block mytitle %}{% endblock %}

{% block body %}


<div class="jumbotron">
	<h1 class="display-4">Le verger des baudets</h1>
	<p class="lead">Nous produisons et vendons des variétés de fruits anciens.</p>
	<hr class="my-4">
	<p>Des trésors des Hauts de France à redécouvrir…</p>
	<p class="lead">
		<a class="btn btn-blue" href="{{ path('categories_index') }}" role="button">Découvrez notre verger</a>
	</p>
</div>


{% endblock %}